@font-face {
	font-family: "Insaniburger";
	src: url("fonts/insaniburger.regular.ttf");
}
@font-face {
	font-family: "Hyperlegible";
	src: url("fonts/AtkinsonHyperlegibleNext-VariableFont_wght.ttf");
}
.dust {
	font-size: 0.8rem;
	font-style: italic;
	margin-top: 0.5em;
}
html, body {
	margin: 0;
	padding: 0;
	background-color: #006bd6;
}
body {
	font-family: "Hyperlegible", Arial, sans-serif;
	display: flex;
	flex-direction: column;
}
main {
	display: flex;
	flex-direction: column;
	align-items: center;
}
p {
	margin: 0.5em 0;
}
h2 {
	margin : 0.3em 0;
}
h3 {
	margin: 1em 0;
}
header, footer {
	color: white;
	background-color: #006bd6;
}
header {
	padding: 0 30px;
	position: sticky;
	top: 0;
	z-index: 10;
}
footer {
	text-align: center;
	padding: 1.5rem 0;
}
a {
	color: #006bd6;
}
a.home {
	text-decoration: none;
	color: white;
	z-index: 30;
}
a.button {
	box-sizing: border-box;
	background-color: #006bd6;
	color: white;
	font-size: 1.2rem;
	text-decoration: none;
	text-align: center;
	border: none;
	border-radius: 5px;
	padding: 12px 20px;
	margin-top: 10px;
	width: 10rem;
	cursor: pointer;
}
.header-container {
	max-width: 900px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin: auto;
}
.site-title {
	font-size: clamp(1.5rem, 5vw, 2.5rem);
	font-weight: bold;
	font-family: "Insaniburger";
	white-space: nowrap;
}
.section { /* sets background only */
	background-color: white;
	width: 100%;
	display: flex;
	flex-direction: column;
}
.section.grey {
	background-color: #c5c5c5;
}
.container { /* sets content attributes */
	width: 100%;
	max-width: 900px;
	display: flex;
	flex-direction: column;
	margin: auto;
	justify-content: space-between;
	box-sizing: border-box;
}
.container.row {
	flex-direction: row;
}
 @media (max-width: 960px) { 
	.section > .container {
		margin: 0 2rem;
		max-width: calc(100% - 4rem);
	}
}
.container.centered {
	align-items: center;
}
.container.buttons {
	margin-top: 20px;
}
img {
	width: 100%;
	height: auto;
	display: block;
}
img.king-point {
	width: clamp(300px, 50vw, 500px);
}
.commission-status {
	font-size: clamp(1.2rem, 5vw, 2rem);
	margin-top: 1em;
	margin-bottom: 0.5em;
}
.commission-status span {
	font-weight: bold;
}
.banner-container {
	display: flex;
	flex-direction: row-reverse;
}
@media (max-width: 600px) {
	.banner-container {
		flex-direction: column;
	}
	.container.buttons {
		margin-top: 5px;
	}
}
@media (max-width: 900px) {
	.container.row {
		flex-direction: column;
	}
	img.maker-meet {
		margin: 10px 0;
		max-width: 100%;
	}
}
.hamburger-menu {
	height: 100%;
	width: 0;
	display: none;
	/* width: 100%;
	display: flex;  */
	/* toggle to edit nav with preview */
	position: fixed;
	z-index: 20;
	top: 0;
	right: 0;
	flex-direction: column;
	background-color: #006bd6;
}
.hamburger-menu .header-container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
nav {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-top: 50px;
	box-sizing: border-box;
	font-size: 1.3rem;
	padding-right: 30px;
	width: 100%;
}
nav a {
	color: white;
	text-decoration: none;
	margin: 0 5px;
}
nav a.active {
	border-bottom: 2px solid white;
	padding-bottom: 2px;
}
.hamburger-menu a {
	font-size: 1rem;
	margin: 8px 0;
	color: white;
	text-decoration: none;
	font-weight: bold;
}
.hamburger-menu a.active {
	border-bottom: 2px solid white;
	padding-bottom: 2px;
}
.burger-icon {
    position: relative;
    z-index: 30;
	display: flex;
	padding: 10px;
}
h2.nav-title {
	margin-top: 50px;
	margin-bottom: 0;
	font-weight: bold;
}