@font-face {
	font-family: "Insaniburger";
	src: url("fonts/insaniburger.regular.ttf");
}
@font-face {
	font-family: "Hyperlegible";
	src: url("fonts/AtkinsonHyperlegibleNext-VariableFont_wght.ttf");
}
html, body {
	margin: 0;
	padding: 0;
	background-color: #006bd6;
}
@media (hover: none) {
	html {
		font-size: 25px;
	}
}
body {
	font-family: "Hyperlegible", Arial, sans-serif;
	display: flex;
	flex-direction: column;
}
main {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
	justify-content: flex-start;
}
header, footer {
	color: white;
	background-color: #006bd6;
}
header {
	padding: 0 30px;
	position: sticky;
	top: 0;
	z-index: 100;
}
footer {
	text-align: center;
	padding: 1.5rem 0;
}
a {
	color: #006bd6;
}
.header-container {
	max-width: 900px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin: auto;
}
.site-title {
	font-size: clamp(1.5rem, 5vw, 2.5rem);
	font-weight: bold;
	font-family: "Insaniburger";
	white-space: nowrap;
}
nav a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	margin: 0 5px;
}
nav a.active {
	border-bottom: 2px solid white;
	padding-bottom: 2px;
}
.section {
	background-color: white;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-top: 2rem;
}
.section.grey {
	background-color: lightgrey;
	padding-bottom: 2rem;
}
*, *::before, *::after {
  box-sizing: border-box;
}
.container {
	max-width: 900px;
	width: 100%;
	display: flex;
	flex-direction: row;
	margin: auto;
	justify-content: space-between;
}
.container.status {
	flex-direction: row-reverse;
}
.container span {
	margin-right: 15px;
	width: 40%;
	flex-shrink: 0;
}
.status-banner {
	text-align: center;
	margin-top: 30px;
}
.image-container {
	max-width: 900px;
	height: auto;
}
.image-container.king-point {
	width: clamp(300px, 50vw, 500px);
}
.image-container.maker-meet {
	width: 60%;
	margin-top: -2rem;
	margin-bottom: -2rem;
}
img {
	width: 100%;
	display: block;
}
p {
	margin: auto;
	padding: 3px;
}
p.section-header {
	font-size: 1.2rem;
	font-weight: bold;
}
.commission-status {
	font-size: 1.5rem;
}
.commission-status span {
	font-weight: bold;
}
@media screen and (max-width: 980px) {
	.container {
		max-width: none;
		padding: 0 30px;
	}
}
@media screen and (max-width: 800px), (hover: none) {
	.container {
		flex-direction: column;
	}
	.container.status {
		flex-direction: column;
	}
	.container span {
		width: 100%;
	}
	.image-container.maker-meet {
		width: 100%;
		margin-top: 2rem;
		margin-top: 2rem;
	}
	.status-banner {
		margin-top: 0;
	}
	p.section-header {
		text-align: center;
	}
}